.DS_Store
.env
.idea
.vscode
db.sqlite3
dump.rdb
venv

# Temporary files
tmp/*
!tmp/.gitkeep

# Log files
logs/*
!logs/.gitkeep

#Python specific
__pycache__/*
*.pyc

#Git dependencies
src/*

#Compiled dependencies
requirements/*.txt